<div class="container-fluid" id="characterIconsContainer">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-offset-2"  id="characterIcons">
            <ul id="characterIconList">
                <li ng-repeat="character in characters">
                    <img ng-src="{{character.thumb}}" id="{{character.name}}" ng-click="displayBust(character.name, character.bust)">
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="characterBustContainer">
        <div id="characterBust">
            <img ng-src="{{characterBust}}">
            <div id="characterName"><p>{{characterBustName}}</p></div>
        </div>
</div>